:root{
    --black: #16161D;
    --dark-gray: #1F1F28;
    --gray: #717C7C;
}

*{
    font-family: Fredoka;
    color: white;
}

@font-face{
    font-family: 'Fredoka';
    src: url(assets/Fredoka-VariableFont_wdth\,wght.ttf);
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
}
.container{
    display: grid;
    grid-template-rows: 0.7fr 3fr ;
    grid-template-columns: 300px 4fr;
    height: 100%;
}

.sidebar{
    display: flex;
    flex-direction: column;
    background-color: var(--black);
    grid-row: 1 / 3;
    font-size: 2.5em;
}

header{
    display: grid;
    background-color: var(--dark-gray);
}
.upper-nav{
    display: grid;
    grid-template-columns: 5px 1fr 1fr;
    align-items: center; 
}

.title{
    width: 70%;
}
.user-upper-nav{
    justify-self: end;
    font-size: 20px;
    font-weight: 500;
    margin-right: 5rem;
}
.lower-nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-width: 100%;
}
.buttons{
    display: flex;
    justify-self: end;
    gap: 20px;
}
.searchbar{
    display: flex;
    background-color: white;
    width: min(300px 80%);
    height: 25px;
    margin-left: 2em;
    border-radius: 15px;
}

.main-content{
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    background-color: #54546D;

}

.projects{
    display: grid;      
    gap: 20px;
    margin: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr;
}
.project-section{
    display: grid;
    grid-template-rows: 0.08fr 1fr;
}

.news{
    display: grid;
    justify-content: center;
    grid-template-rows: 0.08fr 1fr 0.08fr 1fr;
    gap: 20px;
    margin: 20px;
}
.announcements{
    display: grid;
    background-color: white; 
}
.trending{
    display: grid;
    background-color: white;
}
.card{
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    color: black;
    background-color: white;
    border-left: 7px #957FB8 solid; 
    
}
.card-title{
    color: black;
    font-weight: 500;
    font-size: 20px;
}   

.card-text{
    color: black;
    font-size: 18px;
}

.card-icons{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-right: 15px;
}

.card-icons > *{
    width: 30px;
    height: 30px;
}
.card-text,
.card-title{
    margin-left: 10px;
}


#sidebar-title{
    margin-left: 2.2rem;

}

#text-row{
    display: grid;
    gap: 5px;
    font-size: 29px;
    margin-bottom: 1em;
    list-style-type: none;
}

.greeting-text{
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-weight: 500;
    margin-left: 2rem;
}

.pfp{
    background-color: blue;
    width: 50px;
    height: 50px;
}

button{
    background-color: #54546D;
    border: none;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
}

.icon{
    width: 25px;
    height: 25px;
    margin-right: 10px;
    filter: invert(1);
    margin-left: 5px;
}

.big-icon{
    width: 50px;
    height: 50px;
}

.section-title{
    font-size: 32px;
    font-weight: 500;
    margin: 20px;
}

.announcements,
.trending,
.card{
    border-radius: 10px;
}

