:root {
    --black: #16161D;
    --dark-gray: #1F1F28;
    --gray: #717C7C;
}

* {
    font-family: Fredoka;
    color: white;
}

@font-face {
    font-family: 'Fredoka';
    src: url(assets/Fredoka-VariableFont_wdth\,wght.ttf);
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.container {
    display: grid;
    grid-template-rows: 160px 3fr;
    grid-template-columns: minmax(325px, 1fr) 4fr;
    min-height: 100%;
    margin: 0;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--black);
    grid-row: 1 / 3;
    font-size: 2.5em;
}

#sidebar-title {
    margin-left: 2.2rem;
}

header {
    display: grid;
    background-color: var(--dark-gray);
}

.upper-nav {
    display: grid;
    grid-template-columns: 5px 1fr 1fr;
    align-items: center;
}

.title {
    width: 70%;
}

.user-upper-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: end;
    font-size: 20px;
    font-weight: 500;
    margin-right: 3rem;
    margin-top: 5px;
}

.lower-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-width: 100%;
    height: 100%;
}

.buttons {
    display: flex;
    justify-self: end;
    gap: 20px;
    margin-top: 1em;
    margin-right: 3em;
}

.greeting-container {
    display: flex;
    gap: 15px;
    width: 300px;
}

.greeting-text {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-weight: 500;
    margin-left: 2rem;
}

.searchbar {
    display: flex;
    background-color: white;
    width: min(500px, 80%);
    height: 25px;
    margin-left: 2em;
    border-radius: 15px;
}

.main-content {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    background-color: #54546D;
}

.projects {
    display: grid;
    gap: 20px;
    margin: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.project-section {
    display: grid;
    grid-template-rows: 0.08fr 1fr;
}

.news {
    display: grid;
    justify-content: center;
    grid-template-rows: 0.08fr 1fr 0.08fr 1fr;
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 20px;
    max-height: 800px;
}

.announcements,
.trending {
    display: grid;
    background-color: white;
    grid-template: 1fr 1fr 1fr / 1fr;
    border-left: 7px #957FB8 solid;
    border-radius: 10px;
}

.trending-profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.trending-text {
    display: flex;
    flex-direction: column;
}

.trending-text > * {
    color: black;
    margin: 0;
}

.an-text {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-top: 2px;
}

.an-text > * {
    color: black;
    margin: 0;
    margin-left: 5px;
}

.card {
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    color: black;
    background-color: white;
    border-left: 7px #957FB8 solid;
    min-width: 140px;
    border-radius: 10px;
}

.card-title {
    color: black;
    font-weight: 500;
    font-size: 20px;
    margin-left: 10px;
}

.card-text {
    color: black;
    font-size: 18px;
    margin-right: 3px;
    margin-left: 10px;
}

.card-icons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-right: 15px;
}

.card-icons > * {
    width: 30px;
    height: 30px;
}

.section-title,
.an-title,
.trending-title {
    font-size: 32px;
    font-weight: 500;
    margin: 0;
}

.an-title {
    margin: 0;
    margin-top: 20px;
    font-size: 38px;
}

.trending-title {
    font-size: 38px;
}

.section-title {
    margin: 20px;
}

.text-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    font-size: 29px;
    margin-bottom: 1em;
    list-style-type: none;
}

h3 {
    font-weight: 500;
}

.pfp {
    margin-left: 10px;
    width: 50px;
    height: 50px;
}

.bigpfp {
    width: 80px;
    height: 80px;
}

.pfp,
.bigpfp {
    vertical-align: middle;
    border-radius: 50%;
}

button {
    background-color: #54546D;
    border: none;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
}

.icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    margin-left: 5px;
    filter: invert(1);
}

.dashboard-title {
    display: flex;
    align-items: center;
    margin-left: 32px;
}

.big-icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-left: 5px;
    filter: invert(1);
}
